.baseDivider {
    display: grid;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}

.Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--navbarHeight);
    padding: 0 20px;
    background-color: var(--background);
    z-index: 909;
    box-shadow: var(--shadowSM);
    position: relative;
    user-select: none;
}

.logoIcon {
    cursor: pointer;
    text-decoration: none;
}


.Navbar .navEnd {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.Navbar .navSearch {
    position: relative;
}

.navSearchResult {
    position: absolute;
    top: 50px;
    left: -50px;
    width: 400px;
    background-color: var(--background);
    box-shadow: var(--shadowSM);
}

.navSearchItem {
    display: grid;
    grid-template-columns: 50px minmax(0, 1fr);
    padding: 5px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}


.navSearchItem:hover {
    color: white;
    background-color: var(--primaryColor);
}

.navSearchItem p,
.navSearchItem svg,
.navSearchItem h4 {
    transition: all .3s ease;
}

.navSearchItem p,
.navSearchItem svg {
    font-weight: 400;
}

.navSearchItem:hover p,
.navSearchItem:hover svg,
.navSearchItem:hover h4 {
    color: white;
    fill: white;
}

.navSearchItem:not(:last-child) {
    border-bottom: 1px solid var(--secondaryBg);
}

.itemIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemData {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.itemData>h4 {
    font-size: 12px;
    margin-bottom: 5px;
}

.lineData {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.lineData>a,
.lineData>p {
    font-size: 10px;
}

.Navbar .navThemeIcon {
    position: relative;
}

.navThemeSelect {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
}

.navThemeSelect.active {
    opacity: 1;
    pointer-events: all;
}


.navThemeSelect.active>div {
    max-width: 40px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    /* transition: all .5s ease; */

    animation-name: showAnim;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: var(--delay);
}


@keyframes showAnim {
    0% {
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Sidebar {
    width: 100%;
    position: relative;
    box-shadow: var(--shadowSM);
    z-index: 89;
    max-height: var(--bodyHeight);
    height: var(--bodyHeight);
}

.Sidebar::-webkit-scrollbar {
    display: none;
}

.sidebarInner {
    width: 100%;
    min-height: 100%;
    background-color: var(--background);
    padding: 10px 0;
    overflow: visible;
}

.sidebarItem {
    width: 100%;
}

.sidebarItem>a {
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
}

.Sidebar.close .sidebarItem>a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sidebarItem>a:hover {
    background-color: var(--secondaryBg);
}

.sidebarItem>a>span {
    white-space: nowrap;
}

.Sidebar.close .sidebarItem>a>span {
    display: none;
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translate(0, -50%);
    background-color: var(--background);
    padding: 5px 10px;
    border-radius: 3px;
}

.Sidebar.close .sidebarItem>a:hover span {
    display: block;
}