.githubPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.githubPage .githubContainer {
    background-color: var(--background);
    width: 100%;
    height: 100%;
}