.homePage {
    width: 100%;
    background-color: var(--secondaryBg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.homePageStats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.dashboardCard {
    width: 100%;
    height: 200px;
    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.homeActivities {
    background-color: var(--background);
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.allActivities {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.allActivities .item{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--secondaryBg);
    border-width: 2px;
}
.allActivities .item h5 {
    font-size: 14px;
    font-weight: 400;
}
.allActivities .item p{
    font-size: 12px;
    font-weight: 400;
    color: var(--fadeText);
}

.allActivities .item .flexRow {
    flex-wrap: wrap;
}