.terminalPage {
    width: 100%;
    height: 100%;
}

.RXtermTerminal,
.terminalPage .XtermTerminal {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    box-shadow: var(--shadowSM);
    padding: 10px;
}

.RXtermTerminal .terminal.xterm,
.terminalPage .terminal.xterm {
    width: 100%;
    height: 100%;
} 

.RXtermTerminal .xterm .xterm-viewport,
.terminalPage .xterm .xterm-viewport {
    background-color: var(--background) !important;
}