.webBoxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* web header  */
.webHeader {
    background-color: var(--background);
    color: var(--color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.webHeader .webEnd .iconBtn {
    background-color: var(--secondaryBg);
}

/* web box component  */
.webBox {
    background-color: var(--background);
    color: var(--color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.webBox.round {
    border-radius: 5px;
}

.webBox.withShadow {
    box-shadow: var(--shadowSM);
}

.webBoxData {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    overflow: hidden;
}

.webBoxData .appName {
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
}

.webBoxData .webLine {
    font-size: 11px;
    font-weight: 400;
    word-break: break-all;
    white-space: wrap;
    overflow: hidden;
}





/* template deploy  */
.deployTemplates {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 15px;
    padding: 10px 0;
}

.deployTemplates .template {
    background-color: var(--background);
    transition: all .5s ease;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: var(--shadowSM);
}

.deployTemplates .template:hover {
    background-color: var(--secondaryBg);
}

.deployTemplates .template:hover p {
    color: var(--primaryColor);
}

.deployTemplates .template .templateImg {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.deployTemplates .template .templateImg img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

/* deploy form  */
.templateDeployPage {
    width: 100%;
    padding: 15px 0;
}

.deployGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.2fr);
    align-items: flex-start;
    gap: 15px;
}

.templateDeployForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}


.templateDeployForm .RInput input {
    font-weight: 300;
}

.envVarHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.envVariables {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 35px);
    gap: 10px;
}

.envVariables .deleteIcon {
    background-color: var(--background);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.envVariables .deleteIcon.secondaryBg {
    background-color: var(--secondaryBg);
}


.templateOutput {
    background-color: var(--background);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 68vh;
    overflow: hidden;
}

.output {
    background: var(--secondaryBg);
    padding: 10px 10px 20px 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.templateOutput .output p {
    width: 100%;
    font-size: 11px;
    white-space: pre-wrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}