@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --background: #ffffff;
    --color: #121212;
    
    --secondaryBg: #f5f5f5;
    --secondaryColor: #323232;

    --primaryColor: #e65800;

    --fadeText: #414141;

    --navbarHeight: 50px;
    --bodyHeight: calc(100vh - var(--navbarHeight));

    --shadowSM: 0px 0px 5px rgba(0, 0, 0, .1);

    --scrollTrack: #DDDDDD;
    --scrollThumb: #aaaaaa;
    
    --padSM: 10px;
    --padXSM: 0 10px;
    --padYSM: 10px 0;

    --transparentBG: rgba(0,0,0,.1);
}

[data-theme="dark"] {
    --background: #051b2b;
    --color: #ffffff;

    --secondaryBg: #1a2d3b;
    --secondaryColor: #d5d5d5;
    
    --fadeText: #cdcdcd;
    
    --shadowSM: 0px 0px 5px rgba(0, 0, 0, .4); 
    
    --scrollThumb: #333333;
    --scrollTrack: #bebebe;

    --transparentBG: rgba(255,255,255,.2);
}

[data-theme="purple"] {
    --background: #d364ff;
    --color: #ffffff;
}


html, * {
    transition: color 1s ease, background-color 1s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    color: var(--color);
}


h1 {
    font-size: 20px;
    font-weight: 700;
}
h2 {
    font-size: 18px;
    font-weight: 700;
}
h3{
    font-size: 16px;
    font-weight: 600;
}
h4{
    font-size: 14px;
    font-weight: 600;
}
h5{
    font-size: 12px;
    font-weight: 500;
}
h6{
    font-size: 10px;
    font-weight: 500;
}

p {
    font-size: 12px;
}